.credit_card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  text-shadow: 2px 2px 3px rgb(2, 0, 0);
}

.flipped {
  transform: translate(-50%, -50%) rotateY(180deg);
}

.logo {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.logo img {
  width: 4vw;
}

.name {
  position: absolute;
  font-size: 1.25vw;
  bottom: 5%;
  left: 8%;
}

.date {
  position: absolute;
  font-size: 1.25vw;
  bottom: 15%;
  left: 8%;
}

.number {
  position: absolute;
  font-size: 1.5vw;
  bottom: 25%;
  left: 8%;
}

.card_chip img {
  width: 4vw;
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translateY(-50%);
}

.front {
  background: red;
  backface-visibility: hidden;
}
