.card_wrapper {
  display: flex;
  flex: 50%;
  margin-top: 1.25rem;
  align-items: center;
  justify-content: center;
  color: white;
}

.credit_card {
  position: relative;

  width: 80%;
  padding-top: 50%;
  position: relative;
}

.flipped {
  transform: rotateY(180deg);
}

.logo {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.logo img {
  width: 4vw;
}

.name {
  position: absolute;
  font-size: 1.25vw;
  bottom: 5%;
  left: 8%;
}

.date {
  position: absolute;
  font-size: 1.25vw;
  bottom: 15%;
  left: 8%;
}

.number {
  position: absolute;
  font-size: 1.5vw;
  bottom: 25%;
  left: 8%;
}

.card_chip img {
  width: 4vw;
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translateY(-50%);
}

.front {
  background: red;
  backface-visibility: hidden;
}

.back {
  background: yellow;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.magnetic_strip {
  position: absolute;
  width: 100%;
  background: black;
  height: 50px;
  top: 50%;
}
