.card_wrapper {
  display: flex;
  flex: 50%;
  margin-top: 1.25rem;
  align-items: center;
  justify-content: center;
  color: white;
}

.not_flipped {
  background: linear-gradient(to right, #242426, #727376);
  border-radius: 15px;
  width: 80%;
  padding-top: 50%;
  margin: auto;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.logo {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.logo img {
  width: 4vw;
}

.name {
  position: absolute;
  font-size: 1vw;
  bottom: 5%;
  left: 8%;
}

.date {
  position: absolute;
  font-size: 1vw;
  bottom: 15%;
  left: 8%;
}

.number {
  position: absolute;
  font-size: 1.25vw;
  bottom: 25%;
  left: 8%;
}

.card_chip img {
  width: 3.5vw;
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translateY(-50%);
}

.flipped {
  background: linear-gradient(to right, #242426, #727376);
  border-radius: 15px;
  width: 80%;
  padding-top: 50%;
  margin: auto;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  transform: rotateY(180deg);
}

.front {
  backface-visibility: hidden;
}

.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.magnetic_strip {
  position: absolute;
  width: 100%;
  background: black;
  height: 50px;
  top: 0;
}
